* {
   box-sizing: border-box;
}
.product-item {
   width: 300px;
   text-align: center;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;
   background: white;
   transition: .3s ease-in;
}
.product-item:hover {
   border-bottom: 2px solid #fc5a5a;
}
.product-item img {
   display: block;
   width: 100%;
}
.product-list {
   background: #fafafa;
   padding: 15px 0;
}
.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}
.price {
   font-size: 16px;
   color: #fc5a5a;
   display: block;
   margin-bottom: 12px;
}
.button {
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: #cccccc;
   color: white;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   transition: .3s ease-in;
}
.product-item:hover .button {
   background: #fc5a5a;
}

.product-detail {
width="300";
height="400";
}

/*чат на главной странице*/
.chatemplate {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-image: url(https://cdn4.iconfinder.com/data/icons/keynote-and-powerpoint-icons/256/Messages-512.png);
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:32px;/* размер изображения равен (или меньше) размеру кнопки вызова*/
  width: 32px; /* ширина кнопки вызова */
  height: 32px; /* высота кнопки вызова */
}
.parent_popup,
.parent_popup_click {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.popup,
.popup_click {
  background: #fff;
  max-width: 745px;
  width:70%;
  margin: 5% auto;
  padding-bottom: 1px;
  position: relative;
}
.popup_click::after {
 position:absolute;
 bottom:2px;
 right:5px;
 content:'ChaTemplate';
 color:#E1E1E1;
 font-size:8px;
}
.close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -20px;
  left: -20px;
  background-image: url(//st1.chatovod.ru/i/orangebox/close.png);
  cursor: pointer;
  position: absolute;
  z-index: 1000;
}
/*чат на главной странице*/