{% load market_extras %}
  <footer class="bg-white">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="img/logo.png" alt="" width="180" class="mb-3">
          <p class="font-italic text-muted">Телефон: +7 (812) 999-99-99 </br> E-mail: {% admin_mail %}</p>
          <ul class="list-inline mt-4">
            <li class="list-inline-item"><a href="{% new_room %}" target="_blank">Узнать наличие товара на складе </a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Покупки</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">Для женщин</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Для мужчин</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Распродажа</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Сайт</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">Регистрация</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Авторизация</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Обратная связь</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Подписка</h6>
          <p class="text-muted mb-4">Подпишитесь на рассылку новых товаров</p>
          <div class="p-1 rounded border">
            <div class="input-group">
              <input type="email" placeholder="Введите ваш e-mail" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
          <p class="text-muted mb-0 py-2">© 2021 Marketplace Все права защищены.</p>
          <p class="text-muted mb-0 py-2">Самая точная информация о товаре, изготовителе, сроке службы и гарантийном сроке находится на официальном сайте производителя. Предложения на сайте носят информационный характер и не является официальной офертой.
Производитель оставляет за собой право изменять внешний вид, характеристики и комплектацию любого товара без уведомления торгующих организаций. Если у вас возникли вопросы по поводу любого товара на нашем сайте, то обращайтесь к нашим менеджерам.</p>
        {% if turn_on_block %}
          <div class="container">
            <span class="text-muted">Текущее время: {% current_time %}</span>
          </div>
        {% endif %}
      </div>
    </div>

  </footer>

