{% extends 'main/base.html' %}
{% load static %}
{% load thumbnail %}
{% load cache %}

{% block title %}
    Каталог товаров
{% endblock %}

{% block header %}
    {% include 'main/header.html' %}
{% endblock %}


{% block content %}
<h3>{{good.brand}}/{{ good.good_name }}</h3>
<p class="card-text"><small class="text-muted">Артикул: {{good.good_shifr}}</small></p>
<div class="card mb-3" style="max-width: 900px;">
  <div class="row g-0">
    {% thumbnail  good.picture  "300x400" crop="center" as im %}
      <div class="col-md-4">
        <img class="product-detail" src="{{ im.url }}">
      </div>
    {% endthumbnail %}
    <div class="col-md-8">
      <div class="card-body">
        <span class="price">₽ {{ good.price }}</span>
        <a href="#" class="button">В корзину</a>
        <p class="card-text">{{good.description}}</p>
        <p>От бренда: {{good.brand}}</p>
        <p>Цвет: {{good.color}}</p>
        <p>Состав: {{good.composition}}</p>
        <p>Продавец: <a href="#">{{ good.seller }}</a></p> <!-- seller detail link not yet defined -->
        <p>Тэги: {% for tag in good.tag.all %} <a href="#">{{ tag }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</p>
      </div>
    </div>
  </div>
</div>

{% cache 60 views %}
<h6>Товар посмотрели: {{ view_counter }}</h6>
{% endcache %}
{% endblock %}