<div itemscope itemtype="http://schema.org/Product">
    <div class="m-3">
        <div class="product-item">
            <a href="{{ good.get_absolute_url }}" itemprop="image">
                <img  src="{{ good.picture.url }}">
            </a>
          <p>{% for tag in good.tag.all %} <a href="{{ request.path }}?tag={{ tag }}">{{ tag }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</p>
          <div class="product-list">
            <h3 itemprop="name">{{ good.good_name|truncatechars:30 }}</h3>
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="price" class="price">₽ {{ good.price }}</span>
            </div>
            <a href="#" class="button">В корзину</a>
          </div>
        </div>
    </div>
</div>