{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Каталог товаров
{% endblock %}

{% block header %}
    {% include 'main/header.html' %}
{% endblock %}

{% block content %}
<h1>Каталог</h1>
{% if searchres %}
    <div class="container">
       <div class="row row-cols-4">
       {% for good in searchres %}
        <div class="col">
            <div class="product-item">
                <a href="{{ good.get_absolute_url }}">
                    <img src="{{ good.picture.url }}">
                </a>
              <p>{% for tag in good.tag.all %} <a href="{{ request.path }}?tag={{ tag }}">{{ tag }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</p>
              <div class="product-list">
                <h3>{{ good.good_name|truncatechars:30 }}</h3>
                <span class="price">₽ {{ good.price }}</span>
                <a href="#" class="button">В корзину</a>
              </div>
            </div>
        </div>
       {% endfor %}
      </div>
    </div>
{% else %}
    <p>Пока не добавлен ни один товар</p>
{% endif %}
{% endblock %}