{% extends 'main/base.html' %}
{% load static %}
{% load market_extras %}

{% block meta %}
    <meta name="description" content="Главная – Marketplace Интернет-магазин товаров различных категорий" />
{% endblock %}

{% block title %}
    Marketplace
{% endblock %}

{% block header %}
    {% include 'main/header.html' with user=username %}
{% endblock %}

{% block content %}
<div class="card bg-dark text-white">
    <div class="card-img-overlay">
        <h1 class=card-title">Добро пожаловать в интернет-магазин</h1>
    </div>
    <img class="card-img" src="{% static 'images/1556600664_br3mpwWFDoCdpiqUpzzmeuh5nZAEDidvG08wsahc.jfif' %}" class="card-img" alt="Marketplace">
</div>
<div class="alert alert-light" role="alert">
    <h4><p class="text-success">Популярные категории</p></h4>
    {% show_all_categories %}
</div>
<div class="alert alert-light" role="alert">
    <h4><p class="text-success">Новинки</p></h4>
</div>
<div class="alert alert-light" role="alert">
    <h4><p class="text-success">Товары со скидкой</p></h4>
</div>
 {% endblock %}
