{% extends 'main/base.html' %}
{% load static %}
{% load market_extras %}

{% block title %}
    Marketplace
{% endblock %}

{% block header %}
    {% include 'main/header.html' with user=username %}
{% endblock %}

{% block content %}
<img src="{% static 'images/1556600664_br3mpwWFDoCdpiqUpzzmeuh5nZAEDidvG08wsahc.jfif' %}" class="card-img" alt="...">
<div class="alert alert-light" role="alert">
    <h2><p class="text-success">Популярные категории</p></h2>
    {% show_all_categories %}
</div>
<div class="alert alert-light" role="alert">
    <h2><p class="text-success">Новинки</p></h2>
</div>
<div class="alert alert-light" role="alert">
    <h2><p class="text-success">Товары со скидкой</p></h2>
</div>
 {% endblock %}
