{% extends 'main/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}


{% block title %}
    Регистарция
{% endblock %}

{% block content %}
<h1>Регистрация</h1>
<form method="post">
    {% csrf_token %}
    {% for f in form %}
        <p><label class="col-sm-2 col-form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
        <div><span class="badge bg-danger">{{ f.errors }}</span></div>
    {% endfor %}
    <div class="d-grid gap-2 col-6">
      <input class="btn btn-primary" type="submit" value="Регистрация">
      <button class="btn btn-outline-danger" ><a href="{% provider_login_url 'google' %}">Регистрация через Google аккаунт</a></button>
    </div>
</form>
{% endblock %}
